<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration   
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-config.dtd">   
<configuration>   
    <settings>   
        <!-- Mybatis基本配置信息 -->
        <setting name="cacheEnabled" value="true" />   
        <setting name="useGeneratedKeys" value="true" />   
        <setting name="defaultExecutorType" value="REUSE" />
        <setting name="logImpl" value="LOG4J" />
		<setting name="lazyLoadingEnabled" value="true"/>
		<setting name="aggressiveLazyLoading" value="false"/>   
    </settings>  
    <!-- 指定 MyBatis 所用日志的具体实现 -->
    <!-- typealias用于连接Model层的Bean文件 -->     
    <typeAliases>   
       <typeAlias alias="buys" type="com.bean.BuysBean"/>
       <typeAlias alias="goods" type="com.bean.GoodsBean"/>   
       <typeAlias alias="material" type="com.bean.MaterialBean"/>   
       <typeAlias alias="buys" type="com.bean.BuysBean"/>      
       <typeAlias alias="users" type="com.bean.UserBean"/> 
       <typeAlias alias="role" type="com.bean.RoleBean"/>
       <typeAlias alias="plans" type="com.bean.PlansBean"/>    
    </typeAliases>      
    <!-- 数据库的用户名，密码，连接池的基本信息   --> 
    <environments default="development">
       <environment id="development">   
           <transactionManager type="jdbc"/>   
           <dataSource type="POOLED">   
              <property name="driver" value="com.mysql.jdbc.Driver"/>   
              <property name="url" value="jdbc:mysql://localhost:3306/goods"/>   
              <property name="username" value="root"/>   
              <property name="password" value=""/>   
           </dataSource>   
       </environment>   
    </environments>   
    <!--
    	要Mapping的Dao文件
    -->
    <!-- 我的Mapping在哪里 -->
    <mappers>
    	<mapper resource="com/sql/UserSqlMapping.xml" />  
        <mapper resource="com/sql/GoodsSqlMapping.xml" />
        <mapper resource="com/sql/MaterialSqlMapping.xml" />  
        <mapper resource="com/sql/BuysSqlMapping.xml" />
        <mapper resource="com/sql/RoleSqlMapping.xml" />    
    </mappers>    
</configuration>  